@media (min-width: 1200px){
    .container {
        max-width: 1024px;
    }
    .tab-content>.tab-pane {
        width: 100%;
        max-width: 1253px;
        margin-left: auto;
        margin-right: auto;
    }
    .banner-content h1 {
    margin-bottom: 250px;
    margin-top: -152px;
}
}



@media only screen and (max-width: 992px) {
    .footer-list li a {
        font-size: 12px;
    }
    .copyright {
        font-size: 12px;
    }
    .banner-content h1 {
        margin-bottom: 88px;
        font-size: 30px;
    }
    .nav-tabs .nav-link span {
        font-size: 18px;
    }
    .nav-tabs .nav-link img {
        height: 45px;
    }
    .feature-item img {
        height: 73px;
    }
    .bg-light {
        top: 0px;
    }
    .navbar-brand img {
        top: 0px;
        margin-right: 0px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: none;
        color: #5350a2;
        font-size: 28px;
        cursor: pointer;
    }
    .navbar-light .navbar-toggler {
        border-color: transparent;
    }
    .navbar-light .navbar-toggler:focus {
        outline: 0px;
    }
    .navbar>.container, .navbar>.container-fluid{
        max-width: 100%;
    }
    .navbar-collapse {
        background: #5350a2;
    }
    .login-div {
        padding-left: 15px;
    }
    .navbar-light .navbar-nav.mr-auto .nav-link {
        padding: 5px 15px;
    }
    .navbar-light .navbar-nav .reg-link .nav-link {
        padding-left: 15px;
        font-size: 14px;
    }
    .bg-light {
        padding: 0px;
    }
    .navbar-light .navbar-brand {
        padding-left: 15px;
    }
    .navbar-light .navbar-nav .reg-link .nav-link {
        color: #fff;
    }
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
    .banner-content h1 {
        margin-bottom: 33px;
        font-size: 22px;
        text-shadow: 0px 0px 10px #f1f1f1;
    }
    .app-store img {
        max-width: 111px;
    }
    .wrapper {
        display: block;
    }
    .wrapper aside {
        width: 100%;
    }
    .wrapper aside {
        padding-bottom: 30px;
    }
    footer{
        text-align: center;
    }
    .footer-list {
        text-align: center;
    }
    html{
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 480px) {
    .banner-content h1 {
        margin-bottom: 32px;
        font-size: 17px;
    }
    #home-banner {
        padding-top: 33%;
    }
    .nav-tabs .nav-link span {
        font-size: 12px;
    }
    .nav-tabs .nav-link img {
        height: 35px;
    }
    .f-img {
        height: 44px;
    }
    .nav-tabs .nav-link {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .sec-title {
        font-size: 24px;
    }
    .footer-list li {
        margin-bottom: 14px;
    }
}
























