@font-face {
    font-family: 'MyriadPro Regular';
    src: url('../fonts/MyriadPro-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/MyriadPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/MyriadPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/MyriadPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/MyriadPro-Regular.svg') format('svg');
}

@font-face {
    font-family: 'SutonnyMJ Regular';
    src: url('../fonts/SUTOM.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SUTOM.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/SUTOM.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/SUTOM.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/SUTOM.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/SUTOM.svg') format('svg');
}

/* Basic Style */
body{
    font-family: 'MyriadPro Regular';
    overflow-x: hidden;
}
h1,h2,h3,h4{
    font-family: 'MyriadPro Regular';
    margin: 0;
}
p{
    font-family: 'MyriadPro Regular';
    margin-bottom: 0;
    color: #34495e;
    font-size: 14px;
}
ul{
    padding-left:0;
    margin: 0px;
}
.full--width{
    width: 100%!important;
}
.btn-primary.btn--purple {
    color: #fff;
    background-color: #5350a2;
    border-color: #5350a2;
    font-size: 18px;
    border-radius: 0px;
    min-width: 86px;
    padding: 6px 10px;
}
.btn-primary.btn--purple:hover,.btn-primary.btn--purple:focus {
    color: #5350a2;
    background-color: #fff;
    box-shadow: none;
}
.btn-primary.btn--white {
    color: #34495e;
    background-color: #fff;
    border-color: #fff;
    font-size: 24px;
    min-width: 155px;
    border-radius: 0px;
    padding: 2px 14px;
}
.btn-primary.btn--white:hover,.btn-primary.btn--white:focus {
    color: #34495e;
    background-color: #f1f1f1;
    border-color: #34495e;
    box-shadow: none;
}
.sec-title{
    font-family: 'SutonnyMJ Regular';
    font-size: 35px;
    color: #5350a2;
    margin-bottom: 23px;
}
/* ./Basic Style */












.bg-light {
    background-color: transparent!important;
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100%;
    z-index: 99999;
}
.login-div .form-control {
    display: inline-block;
    width: auto;
    padding: 3px 10px;
    font-size: 10px;
    line-height: 1.25;
    color: #adacac;
    background-color: #fdfefe;
    border: 1px solid #b8babb;
    border-radius: 0px;
}
.login-div input[type="email"]{
    width: 138px;
}
.login-div input[type="password"]{
    width: 86px;
    margin-left: 4px;
}
.btn{
    cursor: pointer;
}
.login-div {
    padding-top: 3px;
}
.login-div .btn-primary {
    color: #fff;
    background-color: #68c5be;
    border-color: #68c5be;
    font-size: 10px;
    min-width: 46px;
    padding: 3px 5px;
    border-radius: 0px;
    margin-top: 2px;
    margin-left: 6px;
}
.navbar-light .navbar-nav .reg-link .nav-link {
    color: #5350a2;
    font-size: 14px;
}

.navbar-light .navbar-nav.mr-auto .nav-link {
    color: rgba(0,0,0,.5);
    background: #5350a2;
    font-size: 16px;
    padding: 3px 28px;
    color: #fff;
    margin-right: 3px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}
.navbar-brand img{
    position: relative;
    top: -21px;
    margin-right: 20px;
}
.navbar-light .navbar-nav.mr-auto .nav-link:hover, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    background: #343171!important;
}

#home-banner{
    background: url(../assets/images/banner.jpg) no-repeat left bottom /cover;
    padding-top: 25%;
}
.banner-content{
    text-align: right;
}
.banner-content h1{
    font-family: 'SutonnyMJ Regular';
    color: #34495e;
    margin-bottom: 112px;
    font-size: 42px;
}

.app-store {
    margin-bottom: 45px;
}
.app-store img{
    max-width: 100%;
    margin-left: 5px;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
}
.app-store img:hover{
    opacity: .9;
}
.social-share{
    margin-bottom: 20px;
}
.social-share p{
    font-size: 12px;
}
.social-share img{
    max-width: 100%;
    margin-left: 2px;
}
.social-share img:hover{
    opacity: .9;
}
#features{
    background: #eeeef0;
}
.wrapper{
    display: flex;
}
.wrapper aside{
    background: #fff;
    padding: 0px 28px;
    width: 220px;
}
.content-left{
    width: 100%;
}
.nav-tabs {
    border-bottom-color: #eeeef0;
    background: #5350a2;
}
.nav-tabs .nav-item {
    width: 33.33%;
    text-align: center;
}
.nav-tabs .nav-item.show .nav-link{
    color: #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #5350a2;
    border-color: #5350a2;
    border-bottom-color: #eeeef0;
}

.nav-tabs .nav-link {
    color: #fff;
    border-radius: 0px;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}
.nav-tabs .nav-link.active:before{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin-left: -20px;

    border-bottom: 20px solid #eeeef0;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    border-bottom-color: #eeeef0;
}
.nav-tabs .nav-link span{
    display: block;
    font-size: 28px;
    margin-top: 5px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}
.nav-tabs .nav-link.active span, .nav-tabs .nav-link:hover span{
    color: #fdb917;
} 
.nav-tabs .nav-link img{
    display: block;
    max-width: 100%;
    margin: auto;
}
.f-img {
    height: 66px;
    width: 100%;
    position: relative;
}
.f-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}
.f-img img:nth-of-type(2){
    opacity: 0;
}
.nav-tabs .nav-link.active .f-img img:nth-of-type(2),
.nav-tabs .nav-link:hover .f-img img:nth-of-type(2){
    opacity: 1;
}
.nav-tabs .nav-link.active .f-img img:nth-of-type(1),
.nav-tabs .nav-link:hover .f-img img:nth-of-type(1){
    opacity: 0;
}
.tab-content>.tab-pane {
    padding: 25px 25px;
}
.feature-list{
    list-style-type: none;
}
.feature-list li{
    font-size: 12px;
    color: #34495e;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}
.feature-list li:before{
    content: url(../assets/images/angle-right.png);
    position: absolute;
    top: 2px;
    left: 0px;
}
#myTabContent {
    -webkit-box-shadow: 0px 2px 7px #cacacb;
    -moz-box-shadow: 0px 2px 7px #cacacb;
    box-shadow: 0px 2px 7px #cacacb;
}
.feature-item{
    text-align: center;
    margin-bottom: 40px;
    padding: 0px 15px;
}
.feature-bottom{
    padding-top: 50px;
}
.feature-item img{
    max-width: 100%;
    margin-bottom: 30px;
}
.adv {
    margin-bottom: 45px;
}
#price{
    background: #5350a2;
    padding-top: 35px;
    padding-bottom: 30px;
}
.price-single {
    background: #e8e8e8;
    text-align: center;
    padding-bottom: 20px;
    border: 1px solid #8886bb;
    position: relative;
    top: 0px;
    margin-bottom: 35px;

    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
.price-single:hover{
    top: -10px;
}
.sec-title.type-white{
    color: #fff;
}
.price-single h3{
    color: #fff;
    background: #6bc7be;
    font-size: 24px;
    padding: 5px 10px;
}
ul.price-list {
    list-style-type: none;
    margin-bottom: 5px;
}
ul.price-list li{   
    font-size: 14px;
    color: #363636;
    display: flex;
    padding: 14px 10px;
    border-bottom: 1px solid #f4f4f4;
}
ul.price-list li span{
    width: 100%;
    text-align: left;
}
ul.price-list li span .fa-check{
    color: #5350a2;
}
ul.price-list li span .fa-times{
    color: #6bc7be;
}
ul.price-list li span:last-child{
    text-align: right;
}
ul.price-list li:last-child span{
    font-weight: 600;
}
ul.price-list li:last-child {
    border-bottom-color: transparent;
}
.footer-list {
    list-style-type: none;
    text-align: right;
}
.footer-list li{
    display: inline-block;
}
.footer-list li a{
    text-decoration: none;
    color: #5350a2;
    font-size: 15px;
    position: relative;
}
.footer-list li a span{
    font-size: 9px;
    position: absolute;
    left: 0px;
    top: 100%;
    color: #34495e;
}
.footer-list li a i{
    color: #fdb917;
    font-style: normal;
    margin: 0px 3px;
}
footer{
    padding-top: 30px;
    padding-bottom: 20px;
    background: #eeeef0;
}
.copyright{
    color: #5350a2;
    font-size: 15px;
}